<div class="container blog-post">
  <h2 class="blog-post-title"><%= @article.title %></h2>
  <div class="row">
    <div class="col blog-post-meta">January 1, 2000 by <a href="#">Blogger</a></div>
    <div class="col text-right">
      <span><%= link_to edit_article_path(@article) do %><i class="material-icons">mode_edit</i><% end %></span>
      <span><%= link_to article_path(@article), method: :delete, data: { confirm: 'Are you sure?'} do %><i class="material-icons">delete</i><% end %></span>
    </div>
  </div>
  <p><%= @article.body %></p>
  <hr/>
</div><!-- /.blog-post -->

<div class="container">
  <h2>Comments</h2>
  <%= render @article.comments %>
  <hr/>
</div>

<div class="container">
  <h2>Add comment:</h2>
  <%= render 'comments/form' %>
</div>

<div class="container">
  <%= link_to 'Back', articles_path %>
</div>
